<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of branch">
            <td scope="row">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td *ngIf="updatePermission"><button class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
            </td>
            <td *ngIf="deletePermission"><button class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
        </tr>

    </tbody>
</table>